:root {
  --dark-grey: #333;
  --red: red;
  --transition-time: 0.3s;
}

.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
}
.arrow__row {
  align-items: center;
  display: flex;
  justify-content: center;
}

.arrow__container {
  margin: 80px 0px;
}

/**
* 
* ARROW-UP
*
*/
.arrow--up {
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow--up:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.05rem;
  margin-top: 1.4rem;
  transform: rotate(-45deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow--up:hover {
  cursor: pointer;
  transform: rotate(180deg);
}
.arrow--up:hover.arrow--up:after {
  border-color: var(--red);
}

/**
*
* ARROW-LEFT
*
*/
.arrow--left {
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow--left:after {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.45rem;
  margin-top: 1.05rem;
  transform: rotate(-135deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow--left:hover {
  cursor: pointer;
  transform: rotate(-90deg);
}
.arrow--left:hover.arrow--left:after {
  border-color: var(--red);
}

/**
*
* ARROW-RIGHT 
*
*/
.arrow--right {
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow--right:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 0.7rem;
  margin-top: 1.05rem;
  transform: rotate(45deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow--right:hover {
  cursor: pointer;
  transform: rotate(90deg);
}
.arrow--right:hover.arrow--right:after {
  border-color: var(--red);
}

/** 
* 
* ARROW-DOWN
* 
*/
.arrow--down {
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow--down:after {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.05rem;
  margin-top: 0.7rem;
  transform: rotate(135deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow--down:hover {
  cursor: pointer;
  transform: rotate(-180deg);
}
.arrow--down:hover.arrow--down:after {
  border-color: var(--red);
}

/**
* 
* ARROW-CIRCLE-UP
*
*/
.arrow-circle--up {
  border-radius: 50%;
  border: 0.5em solid var(--dark-grey);
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow-circle--up:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.05rem;
  margin-top: 1.4rem;
  transform: rotate(-45deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow-circle--up:hover {
  border-color: var(--red);
  cursor: pointer;
  transform: rotate(180deg);
}
.arrow-circle--up:hover.arrow-circle--up:after {
  border-color: var(--red);
}

/**
*
* ARROW-CIRCLE-LEFT
*
*/
.arrow-circle--left {
  border-radius: 50%;
  border: 0.5em solid var(--dark-grey);
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow-circle--left:after {
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.45rem;
  margin-top: 1.05rem;
  transform: rotate(-135deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow-circle--left:hover {
  border-color: var(--red);
  cursor: pointer;
  transform: rotate(-90deg);
}
.arrow-circle--left:hover.arrow-circle--left:after {
  border-color: var(--red);
}

/**
*
* ARROW-CIRCLE-RIGHT 
*
*/
.arrow-circle--right {
  border-radius: 50%;
  border: 0.5em solid var(--dark-grey);
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow-circle--right:after {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 0.7rem;
  margin-top: 1.05rem;
  transform: rotate(45deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow-circle--right:hover {
  border-color: var(--red);
  cursor: pointer;
  transform: rotate(90deg);
}
.arrow-circle--right:hover.arrow-circle--right:after {
  border-color: var(--red);
}

/** 
* 
* ARROW-CIRCLE-DOWN
* 
*/
.arrow-circle--down {
  border-radius: 50%;
  border: 0.5em solid var(--dark-grey);
  display: inline-block;
  height: 4rem;
  margin-right: 1.5rem;
  transition-duration: var(--transition-time);
  width: 4rem;
}
.arrow-circle--down:after {
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-right: 0.5rem solid var(--dark-grey);
  border-top: 0.5rem solid var(--dark-grey);
  content: "";
  display: inline-block;
  height: 1.4rem;
  margin-left: 1.05rem;
  margin-top: 0.7rem;
  transform: rotate(135deg);
  transition-duration: var(--transition-time);
  width: 1.4rem;
}
.arrow-circle--down:hover {
  border-color: var(--red);
  cursor: pointer;
  transform: rotate(-180deg);
}
.arrow-circle--down:hover.arrow-circle--down:after {
  border-color: var(--red);
}
